.spreadsheet {
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 9pt;
}

.spreadsheet td {
	padding: 3px;
	border: 1px solid #ddd;
}

.spreadsheet th {
	background: black;
	color: white;
	border: 1px solid black;
	cursor: pointer;
}

.spreadsheet th:hover {
	background: #ddd;
}

.spreadsheet th.sorted:after {
	content: " \25be";
}

.spreadsheet th.sorted.reversed:after {
	content: " \25b4";
}
