.spreadsheet th {
	cursor: pointer;
	border-bottom: 2px solid #22f;
}

.spreadsheet th:hover {
	background: #ddd;
}

.spreadsheet th.sorted:after {
	content: " \25be";
}

.spreadsheet th.sorted.reversed:after {
	content: " \25b4";
}
