.spreadsheet th {
	cursor: pointer;
}

.spreadsheet th:hover {
	background: #ddd;
}

.spreadsheet th.sorted:after {
	content: " \25bc";
}

.spreadsheet th.sorted.reversed:after {
	content: " \25b4";
}
